main {
  display: flex;
  flex-direction: column;
}
.details-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 85);
  box-shadow: 0 4px 8px 0 grey;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.details-container a {
  color: white;
  padding: 10px;
}
.details-container a:hover {
  text-decoration: underline;
}